body {
    font-family: Arial, sans-serif;
    background: #f3f4f6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: #ffb8f1;
    width: 360px;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.card h1 {
    text-align: center;
    margin-bottom: 20px;
}

.card label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

.card input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #000000;
}

.card button {
    width: 100%;
    margin-top: 20px;
    padding: 12px;
    background: #bb58a9;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.card button:hover {
    background: #bb58a9;
}

#resultado {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}