body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.contenedor {
    width: 300px;
    margin: 60px auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

input {
    width: 100%;
    margin: 8px 0;
    padding: 6px;
}

button {
    width: 100%;
    padding: 8px;
    background-color: #442b9c;
    color: white;
    border: none;
    cursor: pointer;
}
