body {
    background-color: darkviolet;
    font-family:Arial;
    padding: 30px;
}

.card{
     background: white;
     padding: 20px 30px;
     border-radius:8px;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);

}

input, button{
    display: block;
    margin: 10px 0;
    padding: 8px;

}