body {
    background-color: rgb(18, 112, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family:Arial;
    padding: 30px;
}

.card{
    background: white;
    padding: 30px;
    width: 300PX;
    text-align: center;
    border-radius: 10PX;
}

input, button{
    display: block;
    margin: 10px 0;
    padding: 8px;

}